@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: "#000";
  --darkBlue: "#0d0c1d";
  --paleYellow: "#f3f9d2";
  --paleYellowOpacity: "#f3f9d2aa";
  --paleGrey: "#ebd8da";
  --timberWolf: "#d3d0d0";
  --silver: "#aaa7a7";
  --slateGray: "#6c757d";
  --aquamarine: "#A4F9C8";
  --softGreen: "#b9f98e";
  --green: "#95e262";
  --softBlue: "#75b4f7";
  --dodgerBlue: "#228dff";
  --lightCoral: "#fc7e8b";
  --brightPink: "#fc5d6d";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0c1d;
    --foreground: #f3f9d2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

html,
body {
  font-size: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

nav {
  align-self: end;
}

main {
  flex: 1;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--paleGrey);
}
